body {
  background: $light-grey;
  color: $off-black;
  -webkit-font-smoothing: subpixel-antialiased;
}

.container-fluid {
  width: $site-width;
}

.main-content {
  @include box-shadow(rgba(0,0,0,0.5) 0 0 4px);
  width: $site-width;
  background-color: white;
  padding-bottom: $triple-margin;
}