$site-width: 1100px;

$blue: #14a6cb;
$red: #FD0004;

$pale-grey: #F7F7F7;
$pale-dark-grey: #F0F0F0;

$light-grey: #eaeaea;
$dark-grey: #D6D6D6;

$off-black: #656565;

$navigation-height: 100px;

$base-margin: 10px;
$half-margin: $base-margin / 2;
$third-margin: $base-margin / 3;
$double-margin: $base-margin * 2;
$triple-margin: $base-margin * 3;

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
$oswald-family: "Oswald", "Arial Narrow", Arial, sans-serif;
.oswald-font {
  font-family: $oswald-family;
  font-weight: 400;
  font-style: normal;
}
.oswald-font--light {
  font-family: $oswald-family;
  font-weight: 300;
  font-style: normal;
}

$images-dir: '/assets/build/images/';
$fonts-dir: '/assets/build/fonts/';