<div class="col-md-12 page--clusters">
    <div class="row">
        <div class="col-md-4 chart__cluster--page">
            <div class="row">
                <div class="col-md-6 statistic">
                    <h3 class="statistic__title">{{clusterData.total}}<br />
                        <small class="statistic__title--small">total users</small></h3>
                </div>
                <div class="col-md-6 statistic">
                    <h3 class="statistic__title">{{clusters.length}}<br />
                        <small class="statistic__title--small">clusters</small></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <nvd3-pie-chart
                            data="overview"
                            id="clusterOverviewPieChart"
                            width="320"
                            height="320"
                            x="pieX()"
                            y="pieY()"
                            tooltips="true"
                            color="colorPalette(overview)"
                            tooltipcontent="clusterToolTipContent()"
                            margin="{top:0,left:0,right:0,bottom:0}">
                        <svg></svg>
                    </nvd3-pie-chart>
                </div>
            </div>
        </div>
        <div class="col-md-8 clusters__cluster--page">
            <div class="row" ng-repeat="cluster in clusters">
                <div class="col-md-12">
                    <div class="panel panel-default segment">
                        <div class="panel-heading">{{ cluster.key }}</div>
                        <div class="panel-body row">
                            <div class="col-md-2 statistic">
                                <h3 class="statistic__title">{{ overview[$index].y }}<br>
                                    <small class="statistic__title--small">users</small></h3>
                            </div>
                            <div class="col-md-2 statistic">
                                <h3 class="statistic__title">{{ overview[$index].y / clusterData.total * 100 | number:1 }}%<br />
                                    <small class="statistic__title--small">of total users</small></h3>
                            </div>
                            <div class="col-md-8">
                                <nvd3-multi-bar-horizontal-chart
                                        data="[cluster]"
                                        id="{{ cluster.id }}"
                                        y="yFunction()"
                                        forcey="[-5,5]"
                                        showxaxis="true"
                                        showyaxis="false"
                                        valueFormat="valueFormatFunction()"
                                        showValues="true"
                                        width="420"
                                        height="220"
                                        interactive="true"
                                        tooltips="true"
                                        tooltipcontent="nodeToolTipContent()"
                                        color="colorPalette([cluster])"
                                        margin="{top:0,bottom:50,left:160,right:0}">
                                    <svg></svg>
                                </nvd3-multi-bar-horizontal-chart>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>