<div class="col-lg-12">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Overview</a></li>
                    <li><a href="/questions">Questions</a></li>
                    <li><a href="/nodes">Nodes</a></li>
                    <li><a href="/clusters">Clusters</a></li>
                    <li><a href="/export">Export</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>