<nav class="ui fixed transparent main menu">
    <div class="ui black huge launch left item" ng-click="toggleSidebar()">
        <i class="icon list layout big"></i>
    </div>
    <div class="ui title item">
        <h1 class="logo logo--discourse-analytics">Discourse Analytics</h1>
    </div>
</nav>

<nav class="ui secondary pointing menu teal">
    <a class="active item">
        <i class="home icon" href="/"></i> Overview
    </a>
    <a class="item">
        <i class="mail icon" href="/questions"></i> Questions
    </a>
    <a class="item">
        <i class="user icon" href="/nodes"></i> Nodes
    </a>
    <a class="item">
        <i class="user icon" href="/clusters"></i> Clusters
    </a>
    <a class="item">
        <i class="user icon" href="/export"></i> Export
    </a>
</nav>