<div class="col-lg-12">
    <tabset>
        <tab ng-repeat="data in questionData" heading="{{ data.name }}">
            <div class="row">
                <section class="col-lg-6 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Metric</th>
                            <th>Cumulative</th>
                            <th>Last Month</th>
                            <th>Last Week</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Number of Users</td>
                            <td>{{ data.cumulative.sumUsers }}</td>
                            <td>{{ data.lastMonth.sumUsers }}</td>
                            <td>{{ data.lastWeek.sumUsers }}</td>
                        </tr>
                        <tr>
                            <td>Number of Interactions</td>
                            <td>{{ data.cumulative.sumInteractions }}</td>
                            <td>{{ data.lastMonth.sumInteractions }}</td>
                            <td>{{ data.lastWeek.sumInteractions }}</td>
                        </tr>
                        <tr>
                            <td>Engagement Index</td>
                            <td>{{ data.cumulative.sumInteractions / data.cumulative.sumUsers | number:2 }}</td>
                            <td>{{ data.lastMonth.sumInteractions / data.lastMonth.sumUsers | number:2 }}</td>
                            <td>{{ data.lastWeek.sumInteractions / data.lastWeek.sumUsers | number:2 }}</td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <section class="col-lg-6">
                    <nvd3-multi-bar-chart
                            data="data.lastWeek.datum"
                            id="{{ data.id }}"
                            interactive="true"
                            tooltips="true"
                            tooltipcontent="toolTipContentFunction()"
                            showXAxis="true"
                            showYAxis="true"
                            width="550"
                            height="400"
                            showControls="true"
                            xAxisTickFormat="formatDateAsDayName()">
                        <svg></svg>
                    </nvd3-multi-bar-chart>
                </section>
            </div>
        </tab>
    </tabset>
</div>