<div class="col-lg-12">
    <h2>Projects Overview <br>
        <small>Your projects, at a glance.</small>
    </h2>
    <tabset>
        <tab ng-repeat="data in questionData" heading="{{ data.name }}">
            <div class="row">
                <section class="col-lg-6 table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Metric</th>
                            <th>Cumulative</th>
                            <th>Last Month</th>
                            <th>Last Week</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Number of Users</td>
                            <td>{{ data.cumulative.sumUsers }}</td>
                            <td>{{ data.lastMonth.sumUsers }}</td>
                            <td>{{ data.lastWeek.sumUsers }}</td>
                        </tr>
                        <tr>
                            <td>Number of Interactions</td>
                            <td>{{ data.cumulative.sumInteractions }}</td>
                            <td>{{ data.lastMonth.sumInteractions }}</td>
                            <td>{{ data.lastWeek.sumInteractions }}</td>
                        </tr>
                        <tr>
                            <td>Engagement Index</td>
                            <td>{{ data.cumulative.sumInteractions / data.cumulative.sumUsers | number:2 }}</td>
                            <td>{{ data.lastMonth.sumInteractions / data.lastMonth.sumUsers | number:2 }}</td>
                            <td>{{ data.lastWeek.sumInteractions / data.lastWeek.sumUsers | number:2 }}</td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <section class="col-lg-6">
                    <nvd3-multi-bar-chart
                            data="data.lastWeek.datas"
                            id="{{ data.id }}"
                            interactive="true"
                            tooltips="true"
                            tooltipcontent="questionToolTipContent()"
                            showXAxis="true"
                            showYAxis="true"
                            width="550"
                            height="400"
                            showControls="true"
                            xAxisTickFormat="formatDateAsDayName()"
                            color="colorPalette(data.lastWeek.datas)">
                        <svg></svg>
                    </nvd3-multi-bar-chart>
                </section>
            </div>
        </tab>
    </tabset>
</div>
<div class="col-lg-12">
    <div class="row">
        <section class="col-xs-12 col-lg-6">
            <div class="well">
                <h2>Clusters Summary <br>
                    <small>Overview of user cluster data.</small>
                </h2>
                <div class="row">
                    <div class="col-xs-12 col-lg-8">
                        <nvd3-pie-chart
                                data="clusters"
                                id="clusterOverviewPieChart"
                                width="350"
                                height="350"
                                x="xFunction()"
                                y="yFunction()"
                                tooltips="true"
                                color="colorPalette(clusters)"
                                tooltipcontent="clusterToolTipContent()">
                            <svg></svg>
                        </nvd3-pie-chart>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div ng-repeat="cluster in clusters">
                            <h3>{{ cluster.key }}</h3>

                            <p>{{ cluster.y / clusterData[0].total * 100 | number:1 }}%</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-xs-12 col-lg-6">
            <div class="well">
                <h2>Nodes Summary <br>
                    <small>Trending responses from each node.</small>
                </h2>
                <nvd3-discrete-bar-chart
                        data="trendingNodes.trending.datas"
                        id="nodeOverviewBarChart"
                        interactive="true"
                        showXAxis="true"
                        showYAxis="false"
                        tooltips="true"
                        tooltipcontent="nodeToolTipContent()"
                        xAxisTickFormat="nodeXAxisContent()"
                        width="475"
                        height="300"
                        showValues="true"
                        valueFormat="nodeValueFormat()"
                        color="colorPalette(trendingNodes.trending.datas[0].values)"
                        margin="{top:10,left:0,right:0,bottom:50}">
                    <svg></svg>
                </nvd3-discrete-bar-chart>
            </div>
        </section>
    </div>
</div>